<div class="col-12 col-md-4 col-lg-3">
    <div class="post-sidebar-area">
        @Html.Action("Subscribe", "PartialView")
        @Html.Action("LatestPosts", "PartialView")
        @Html.Action("Tags", "PartialView")
    </div>
</div>
