@model IEnumerable<TravelTrip.Models.EntityFramework.Sliders>

<div class="hero-area">
    <div class="hero-slides owl-carousel">
        @foreach (var item in Model)
        {
            <div class="single-hero-slide bg-img" style="background-image: url(@item.Image);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="slide-content text-center">
                                <div class="post-tag">
                                    <a href="#" data-animation="fadeInUp">@item.SubTitle</a>
                                </div>
                                <h2 data-animation="fadeInUp" data-delay="250ms"><a href="single-post.html">@item.Hood</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



