@model TravelTrip.Models.EntityFramework.Footers

@{
    ViewBag.Title = "FooterDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div align="center" class="form-group">
    <h3><b>@Model.Hood</b></h3>
    <h5>@Model.Explanation</h5>
    <img src="@Model.Image" />
    <br /><br />
    <a href="@Url.Action("Footer","Admin")" class="btn btn-dark">GERİYE DÖN</a>
</div>
